<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/reset.css"> 
    <link rel="stylesheet" href="../dist/semantic.css">
    <link rel="stylesheet" href="/css/stylesidebar.css"> 
    <script src="/js/modernizr.js"></script>
    <script src="../dist/semantic.js"></script>
    {% for rd in repodata %}
    <title>{{rd.reponame}}| Openflock</title>
    {% endfor %}
</head>

<body>




<header class="cd-main-header" style="z-index: 2000">
        <a href="/" class="cd-logo"><img src="../images/logo.png" alt="Logo" width="150px" height="35px" style="margin-top: -6px;"></a>
        
       {% if username %} 

        <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

        <nav class="cd-nav">
            <ul class="cd-top-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/mypromotedrepos">Activity</a></li>
                <li class="has-children account">
                    <a href="#">
                        <img src="{{avatar_url}}" alt="avatar">
                        {{fullname}}
                    </a>

                    <ul>

                        <li><a href="/profile/{{username}}">My Account</a></li>
                        <li><a href="/auth_redirect">Refresh</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        {% endif %}
    </header> 

    <main class="cd-main-content">

        <div class="content-wrapper" style="margin-top: 20px;">
            

        </div> 
    </main> 













{%  for rd in repodata %}
<div style="margin-left: 270px; width: 850px;">
<div class="ui massive message">
    
  <div class="ui medium header" style="float: center">{{rd.reponame}}</div>
  
  <p style="color: gray; font-size: 19px">{{rd.description}}</p>
  <p style="color: blue; font-size: 19px"><a href="/redirecting/{{rd.uid}}?url={{rd.repo_html_url}}" target="_blank">{{rd.repo_html_url}}</a></p>
  
  {% if rd.language %}
  <p style="color: black; font-size: 19px">Language : {{rd.language}}</p>
  {% endif %}
  
<a class="github-button" href="https://github.com/{{rd.promoting_user}}/{{rd.reponame}}" data-icon="octicon-star" data-style="mega" data-count-href="/{{rd.promoting_user}}/{{rd.reponame}}/stargazers" data-count-api="/repos/{{rd.promoting_user}}/{{rd.reponame}}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star {{rd.promoting_user}}/{{rd.reponame}} on GitHub">Star</a>
&nbsp;&nbsp;

<a class="github-button" href="https://github.com/{{rd.promoting_user}}/{{rd.reponame}}/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/{{rd.promoting_user}}/{{rd.reponame}}/network" data-count-api="/repos/{{rd.promoting_user}}/{{rd.reponame}}#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork {{rd.promoting_user}}/{{rd.reponame}} on GitHub">Fork</a>
&nbsp;&nbsp;

<a class="github-button" href="https://github.com/{{rd.promoting_user}}/{{rd.reponame}}" data-icon="octicon-eye" data-style="mega" data-count-href="/{{rd.promoting_user}}/{{rd.reponame}}/watchers" data-count-api="/repos/{{rd.promoting_user}}/{{rd.reponame}}#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch {{rd.promoting_user}}/{{rd.reponame}} on GitHub">Watch</a>
{% if username == rd.promoting_user %}
  <a class = "large ui blue button" href="/edit/{{rd.uid}}?issue={{rd.issue}}&url={{rd.repo_html_url}}" style="color: white; float: right"><h2>Edit details</h2></a>
  <br>

{% endif %}
<p style="color: gray; font-size: 19px"><span style="color: black">Views: </span>{{rd.views_of}}</p>
</div>









<table class="ui celled striped table">
  <thead>
    <tr><th colspan="2">
      Details
    </th>
  </tr></thead>

  <tbody>
    <tr>
      <td class="collapsing"><b>Reason to promote</b></td>
      <td>{{rd.simple_reason}}</td>
    </tr>
    {% if genre %}
    <tr>
    <td><b>Genre</b></td>
    <td>{{rd.genre}}</td>
    </tr>    
    {% endif %}
    <tr>
      <td><b>Detailed Reason</b></td>
      <td>{{rd.detailed_reason}}</td>
    </tr>
    {% if difficulty %}
    <tr>
    <td><b>Difficulty</b></td>
    <td>{{rd.is_beginner}}</td>
    </tr>
    {% endif %}
    <tr>
      <td><b>Contact</b></td>
      <td>{{rd.contact_link}}</td>
    </tr>
  </tbody>
</table>


<br>
<br>
<br>

<br>
<br>
<br>
<br>
</div>

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="/js/jquery.menu-aim.js"></script>
<script src="/js/main.js"></script> 
{% endfor %}
</body>
</html>
